
<div class="slider">
      <ul>
        <li><img src="img/villa4.jpg" alt=""></li>
        <li><img src="img/banderas.jpg" alt=""></li>
        <li><img src="img/villa3.jpg" alt=""></li>
        <li><img src="img/villa2.jpg" alt=""></li>
        <li><img src="img/villa1.jpg" alt=""></li>
        <li><img src="img/villa.jpg" alt=""></li>
        <li><img src="img/4tarami.jpg" alt=""></li>
        <li><img src="img/fondo.jpg" alt=""></li>
      </ul>
      <ul>
       

      </ul>
    </div>        
        <!--https://codepen.io/JyGProyectosWeb/pen/PNBRev-->